<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>default</title>
</head>
<body>
    
    <main>
        <section class="hero">
            <h2>Hero Section</h2>
            <p>Lorem ipsum dolor sit amet.</p>
            <p class="par">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, repellat. Placeat quia cupiditate non consectetur ratione doloremque ad dignissimos tempore ullam maiores. Repellat facere perspiciatis numquam tempore harum dolor voluptatem.</p>
        </section>
        <section class="list">
            <aside>
                <div class="Listholder">
                    <p id="all">All</p>
                    <p id="red">Red</p>
                    <p id="blue">Blue</p>
                    <p id="green">Green</p>
                </div>
            </aside>
            <div class="grid" data-filter="All">
                <div class="item" data-clr="Red" style="height: 150px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 300px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 200px;"><p>item</p></div>
                <div class="item" data-clr="Red" style="height: 220px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 150px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 100px;"><p>item</p></div>
                <div class="item" data-clr="Red" style="height: 150px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 280px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 175px;"><p>item</p></div>
                <div class="item" data-clr="Red" style="height: 75px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 250px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 250px;"><p>item</p></div>
                <div class="item" data-clr="Red" style="height: 150px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 300px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 200px;"><p>item</p></div>
                <div class="item" data-clr="Red" style="height: 150px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 300px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 200px;"><p>item</p></div>
                <div class="item" data-clr="Red" style="height: 150px;"><p>item</p></div>
                <div class="item" data-clr="Blue" style="height: 300px;"><p>item</p></div>
                <div class="item" data-clr="Green" style="height: 200px;"><p>item</p></div>

            </div>
        </section>
    </main>
    <footer>
        <h2>About Section</h2>
    </footer>

    <script src="main.js"></script>
</body>
</html>