
:root{
  --text: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 10%);
  --primary: hsl(161, 95%, 45%);
  --secondary: hsl(60, 2%, 90%);
  --accent: hsl(297, 72%, 83%);
} 

*{
  padding: 0;
  margin: 0;
}

body{
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  position: relative;
}

.container{
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 4fr;
}
.container aside{
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 60vh;
  width: 20vw;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
}
.container aside p:hover{
  cursor: pointer;
  opacity: 1;
}
.container aside p{
  opacity: 0.7;
  font-weight: 700;
}
.section{
  /* height: 120vh; */
  padding: 0 0 80px 0;
}
.bgFilter{
  position: fixed;
  height: fit-content;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  transform: translateY(-100vh);
  gap: 15vh;
  transition: top 500ms ease-in-out,gap 500ms ease-in-out;
}
.bgFilter .top,
.bgFilter .bottom{
  width: 80vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
}