<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>default</title>
</head>
<body>
    
    <main>
        <section class="home">
            <div class="hero">
                <h1>Hero Section</h1>
                <p>Ullam rem eaque, ex dolore! Animi, quam..</p>
                <p class="full">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam reiciendis autem assumenda omnis laborum veniam, error beatae sed recusandae iusto minima a fugiat ullam rem eaque, ex dolore! Animi, quam.</p>
            </div>
        </section>
        <section class="one">
            <div class="columns">
                <div class="item" style="height: 150px;"></div>
                <div class="item" style="height: 76px;"></div>
                <div class="item" style="height: 123px;"></div>
                <div class="item" style="height: 100px;"></div>
                <div class="item" style="height: 150px;"></div>
                <div class="item" style="height: 200px;"></div>
                <div class="item" style="height: 200px;"></div>
                <div class="item" style="height: 250px;"></div>
                <div class="item" style="height: 190px;"></div>
                <div class="item" style="height: 100px;"></div>
                <div class="item" style="height: 100px;"></div>
            </div>
        </section>
        <section class="two">two</section>
        <section class="three">thre</section>
        <section class="about">
            <p class="aboutTitle">Testimonial</p>
            <div class="aboutContainer">
                <div class="cauro">
    
                    <div class="block">
                        <p class="title">sometitle</p>
                        <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                    </div>
                    <div class="block">
                        <p class="title">Else</p>
                        <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                    </div>
                    <div class="block">
                        <p class="title">Other</p>
                        <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                    </div>
                    <div class="block">
                        <p class="title">sometitle</p>
                        <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="main.js"></script>
</body>
</html>