<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>default</title>
</head>
<body>
    <div class="container">
        <div class="block">
            <div class="s">
                <h3>Sticky 1</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, adipisci.</p>
            </div>
            <img src="./book.jpg">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book1.jpg">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book2.avif">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
        </div>
        <div class="block">
            <div class="s">
                <h3>Sticky 2</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, adipisci.</p>
            </div>
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book2.avif">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book1.jpg">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book.jpg">
        </div>
        <div class="block">
            <div class="s">
                <h3>Sticky 3</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa, adipisci.</p>
            </div>
            <img src="./book.jpg">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book1.jpg">
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <p>- Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse perspiciatis laboriosam voluptas. Suscipit sequi voluptatibus, natus inventore maiores omnis rerum aliquam magni, nobis soluta, magnam ducimus aspernatur eum. Molestiae vero labore vitae voluptate aliquid quia at repudiandae ullam, quas nostrum eum sed fuga provident deleniti optio. Provident fugit est ullam.</p>
            <img src="./book2.avif">
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>