<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>default</title>
</head>
<body>
    <main></main>
    <footer>
        <div class="container">
            <div class="cauro">

                <div class="block">
                    <p class="title">sometitle</p>
                    <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                </div>
                <div class="block">
                    <p class="title">Else</p>
                    <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                </div>
                <div class="block">
                    <p class="title">Other</p>
                    <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                </div>
                <div class="block">
                    <p class="title">sometitle</p>
                    <p class="details">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis voluptatem voluptatibus nulla tenetur, illum molestiae excepturi illo.</p>
                </div>
                <!-- <div class="block">
                    b
                </div>
                <div class="block">
                    c
                </div> -->

            </div>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>