
:root{
  --text: hsl(0, 0%, 100%);
  --background: hsl(0, 0%, 10%);
  --primary: hsl(161, 95%, 45%);
  --secondary: hsl(60, 2%, 90%);
  --accent: hsl(297, 72%, 83%);
} 

*{
  padding: 0;
  margin: 0;
}

body{
  background: var(--background);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
}

.module.active{
  top: calc(-80vh + 40px );
  right: calc(-80vw + 40px );
}
.module{
  transition: top 400ms ease-in,right 400ms ease-in;
  position: fixed;
  width: 80vw;
  height: 80vh;
  background-color: aliceblue;
  top: 10vh;
  right: 10vw;
}
#close{
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#open{
  position: absolute;
  top: 10px;
  right: 10px;
}