<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>default</title>
</head>
<body>
    
    <div class="container">
        <div class="collection">
            <div class="element">
                <div class="image"></div>
                <div class="details">
                    <div class="title">
                        <p>Title :</p>
                        <input type="text">
                    </div>
                    <div class="details">
                        <p>Details :</p>
                        <input type="text">
                    </div>
                    <div class="move">
                        <p>Move to :</p>
                        <select id="ad">
                            <option value="1">collection 1</option>
                            <option value="2">collection 2</option>
                            <option value="3">collection 3</option>
                            <option value="4">collection 4</option>
                            <option value="5">collection 5</option>
                            <option value="6">collection 6</option>
                            <option value="7">collection 7</option>
                        </select>
                        <button>Move</button>
                    </div>
                </div>
            </div>
            <div class="element">
                <div class="image"></div>
                <div class="details">
                    <div class="title">
                        <p>Title :</p>
                        <input type="text">
                    </div>
                    <div class="details">
                        <p>Details :</p>
                        <input type="text">
                    </div>
                    <div class="move">
                        <p>Move to :</p>
                        <select id="ad">
                            <option value="1">collection 1</option>
                            <option value="2">collection 2</option>
                            <option value="3">collection 3</option>
                            <option value="4">collection 4</option>
                            <option value="5">collection 5</option>
                            <option value="6">collection 6</option>
                            <option value="7">collection 7</option>
                        </select>
                        <button>Move</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="collection">
            <div class="element">
                <div class="image"></div>
                <div class="details">
                    <div class="title">
                        <p>Title :</p>
                        <input type="text">
                    </div>
                    <div class="details">
                        <p>Details :</p>
                        <input type="text">
                    </div>
                    <div class="move">
                        <p>Move to :</p>
                        <select id="ad">
                            <option value="1">collection 1</option>
                            <option value="2">collection 2</option>
                            <option value="3">collection 3</option>
                            <option value="4">collection 4</option>
                            <option value="5">collection 5</option>
                            <option value="6">collection 6</option>
                            <option value="7">collection 7</option>
                        </select>
                        <button>Move</button>
                    </div>
                </div>
            </div>
            <div class="element">
                <div class="image"></div>
                <div class="details">
                    <div class="title">
                        <p>Title :</p>
                        <input type="text">
                    </div>
                    <div class="details">
                        <p>Details :</p>
                        <input type="text">
                    </div>
                    <div class="move">
                        <p>Move to :</p>
                        <select id="ad">
                            <option value="1">collection 1</option>
                            <option value="2">collection 2</option>
                            <option value="3">collection 3</option>
                            <option value="4">collection 4</option>
                            <option value="5">collection 5</option>
                            <option value="6">collection 6</option>
                            <option value="7">collection 7</option>
                        </select>
                        <button>Move</button>
                    </div>
                </div>
            </div>
            <div class="element">
                <div class="image"></div>
                <div class="details">
                    <div class="title">
                        <p>Title :</p>
                        <input type="text">
                    </div>
                    <div class="details">
                        <p>Details :</p>
                        <input type="text">
                    </div>
                    <div class="move">
                        <p>Move to :</p>
                        <select id="ad">
                            <option value="1">collection 1</option>
                            <option value="2">collection 2</option>
                            <option value="3">collection 3</option>
                            <option value="4">collection 4</option>
                            <option value="5">collection 5</option>
                            <option value="6">collection 6</option>
                            <option value="7">collection 7</option>
                        </select>
                        <button>Move</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="main.js"></script>
</body>
</html>