<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>default</title>
</head>
<body>
    <header>
        <nav>
            <p>home</p>
            <p>about</p>
            <p>movies</p>
        </nav>
    </header>
    <main>
        <aside>
            <ul>
                <li>title</li>
                <li>title</li>
                <li>title</li>
                <li>title</li>
            </ul>
        </aside>

        <section id="main">
            <div class="grid">
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book.jpg" alt="">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, ut voluptates amet pariatur, necessitatibus aut tenetur velit sequi eos quam reiciendis. Beatae laboriosam quibusdam iusto sequi vel iure delectus praesentium.</p>
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <h3>other <i>thing</i></h3>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quidem nemo explicabo aperiam. At ipsum voluptate nobis aliquam adipisci repudiandae quo quas placeat delectus est. Perspiciatis velit nobis sint rem?
                    <img src="./book1.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book2.avif" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book1.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book2.avif" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book1.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book2.avif" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book1.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book2.avif" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book1.jpg" alt="">
                </div>
                <div class="item">
                    <h2 class="title">something</h2>
                    <img src="./book2.avif" alt="">
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="icon"><img src="./qq.svg" alt="" srcset=""></div>
        <div class="fnav a">
            <p id="related">Related</p>
            <div class="nav">
                <p>bank</p>
                <p>store</p>
                <p>site</p>
            </div>
        </div>
        <div class="fnav b">
            <p id="info">Info</p>
            <div class="nav">
                <p>i</p>
                <p>about</p>
                <p>exit</p>
            </div>
        </div>
    </footer>
    <script src="main.js"></script>
</body>
</html>